@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.app-wrap {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

header {
  margin-bottom: 20px;
}

.search-box {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #333;
  font-weight: 600;
}

.location {
  margin-bottom: 20px;
}

.city {
  font-size: 1.8em;
  font-weight: 700;
  color: #000;
}

.date {
  font-size: 1em;
  color: #0e0a0a;
}

.current {
  margin-top: 10px;
}

.temp {
  font-size: 3.5em;
  font-weight: 700;
  color: #070606;
}

.weather {
  font-size: 1.2em;
  margin-top: 5px;
  color: #000000a8;
}

.hi-low {
  font-size: 1em;
  color: #0a090900;
  margin-top: 10px;
}
